<style>

  a.nav-link:link
  {
     color: #2d2d2d;
     text-decoration: none;
  }
  a.nav-link:visited
  {
     color: #2d2d2d;
     text-decoration: none;
  }
  a.nav-link:hover
  {
     color: #2d2d2d;
     text-decoration: none;
  }
  a.nav-link:active
  {
     color: #2d2d2d;
     text-decoration: none;
  }

  ul {
      list-style-type: none;
      margin: 0px 0px 14px 0px;
      padding: 0;
      overflow: hidden;
      background-color: #f7941e;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-weight: bold;
  }

  li a:hover {
      background-color: #ffbb41;
  }

</style>

<ul>
  <li><a href="/" class="nav-link">Home</a></li>
  <li><a href="/examples" class="nav-link">Examples</a></li>
  <li><a href="/get_started" class="nav-link">Get Started</a></li>
  <!--<li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
  -->
</ul>
