<style>

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropdown-content a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ffbb41;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #ffbb41;
  }

  a.nav-link:link
  {
     color: #2d2d2d;
     text-decoration: none;
  }
  a.nav-link:visited
  {
     color: #2d2d2d;
     text-decoration: none;
  }
  a.nav-link:hover
  {
     color: #2d2d2d;
     text-decoration: none;
  }
  a.nav-link:active
  {
     color: #2d2d2d;
     text-decoration: none;
  }

  ul {
      list-style-type: none;
      width: auto;
      height: 52px;
      margin: 0px 0px 14px 0px;
      padding: 0;
      overflow: visible;
      background-color: #f7941e;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-weight: bold;
  }

  li a:hover {
      background-color: #ffbb41;
  }

</style>

<ul>
  <li><a href="/" class="nav-link">Home</a></li>
  <li>
    <div class="dropdown">
      <a href="/examples" class="nav-link">
        Examples
      </a>
      <div class="dropdown-content">
        {% for post in site.posts %}
          <a class="nav-link" href="{{ post.url }}">
             {{ post.title }}
          </a>
        {% endfor %}
      </div>
    </div>
  </li>
  <li><a href="/get_started" class="nav-link">Get Started</a></li>
</ul>
